<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de estoque</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/cadastrarProdutos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="form-box">
    <p class="text-muted" id ="voltar"><a href="/home">< Voltar</a></p>
    <h3>Cadastrar estoque</h3>
    <form id="formProduto" action="/salvarCadastroEstoque" method="POST">
        <div class="form-group">
            <label for="produtoEstoque">Produto</label>
            <select class="form-control"id="produtoEstoque" name="produtoEstoque" required>
                <option value="" disabled selected>Selecione o produto</option>
                <option th:each="produto : ${produtos}"
                        th:value="${produto.id}" th:text="${estoque.produto.nome + ' - ' + estoque.produto.marca}"></option>
            </select>
        </div>


        <div class="form-group">
            <label for="estoqueMinimo">Estoque mínimo</label>
            <input type="number" id="estoqueMinimo" name="estoqueMinimo" class="form-control" placeholder="Informe o valor mínimo para estoque" required>
        </div>

        <div class="form-group">
            <label for="estoqueAtual">Estoque atual</label>
            <input type="number" id="estoqueAtual" name="estoqueAtual" class="form-control" placeholder="Informe o valor atual do estoque" required>
        </div>

        <button type="submit" class="btn-submit">Adicionar estoque</button>
    </form>
</div>

</body>
</html>