<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketInfo - Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>


<div class="container">
    <a href="/login">< Sair</a>
    <h1 class="display-4 mb-4 text-center">MarketInfo - Gestão de produtos</h1>
    <div class="content-box">
        <div class="button-grid">
            <button id="cadastrarProdutos"
                    class="btn btn-info btn-lg mb-3"
                    onclick="window.location.href='/produtos/cadastrarProdutos';">Cadastrar produtos</button>

            <button id="listarProdutos"
                    class="btn btn-info btn-lg mb-3"
                    onclick="window.location.href='/produtos/listarProdutos';">Listar produtos</button>

            <button id="gerenciarEstoque"
                    class="btn btn-info btn-lg mb-3"
                    onclick="window.location.href='/estoque/gerenciamentoEstoque';">Gerenciamento de estoque</button>

            <button id="gerenciarPrecos"
                    class="btn btn-info btn-lg"
                    onclick="window.location.href='/preco/gerenciamentoPrecos';">Gerenciamento de preços</button>

            <button id="listarUsuarios"
                    class="btn btn-info btn-lg mb-3"
                    onclick="window.location.href='/listarUsuarios';">Listar usuários</button> <!-- TODO !-->

        </div>
    </div>
</div>



</body>
</html>