body {
    background: #dadada;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.table-box {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.table-responsive {
    max-height: 100%;
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    table-layout: fixed;
    font-size: 0.9rem;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    height: 30px;
    word-wrap: break-word;
}

.table th {
    background-color: #ff6f00;
    color: white;
    font-size: 0.9rem;
}

.table td {
    background-color: #fff;
    font-size: 0.85rem;
}

.table-box h3 {
    font-size: 2rem;
    color: #ff6f00;
    text-align: center;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.table button {
    margin: 5px;
}

.btn-warning {
    background-color: #ffcc00;
    border-color: #ffcc00;
}

.btn-warning:hover {
    background-color: #ffb700;
    border-color: #ffb700;
}

.btn-danger {
    background-color: #ff4040;
    border-color: #ff4040;
}

.btn-danger:hover {
    background-color: #ff1a1a;
    border-color: #ff1a1a;
}


a {
    text-decoration: none;
    color: #ff6f00;
}

a:hover {
    text-decoration: none;
}