<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de preços</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="/assets/css/listar_produtos.css" rel="stylesheet">
</head>
<body>



<div class="container">
    <div class="table-box">
        <p class="text-muted" id ="voltar"><a href="/preco/gerenciamentoPrecos">< Voltar</a></p>
        <h3>Listagem de preços</h3>
        <div th:if="${mensagemSucesso}" class="alert alert-success">
            <p th:text="${mensagemSucesso}"></p>
        </div>
        <div th:if="${mensagem}" class="alert alert-danger">
            <p th:text="${mensagem}"></p>
        </div>

        <div class="form-row mb-3">
            <div class="col-sm-5">
                <label for="pesquisaNomePreco">Pesquisar por Nome</label>
                <input type="text" class="form-control" id="pesquisaNomePreco" placeholder="Digite o nome do produto">
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped ">
                <thead>
                <tr>
                    <th>Produto</th>
                    <th>
                        Preço original
                        <button class="btn btn-link btn-sm" onclick="ordenarTabela(1, 'numero')">
                            <i class="fas fa-sort"></i>
                        </button>
                    </th>
                    <th>Preço atual</th>
                    <th>Motivo alteração</th>
                    <th>
                        Data início vigor
                        <button class="btn btn-link btn-sm" onclick="ordenarTabela(2, 'data')">
                            <i class="fas fa-sort"></i>
                        </button>
                    </th>
                    <th>
                        Data final vigor
                        <button class="btn btn-link btn-sm" onclick="ordenarTabela(3, 'data')">
                            <i class="fas fa-sort"></i>
                        </button>
                    </th>
                    <th>Data alteração</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody id="tabelaPrecos">
                <th:block th:each="preco : ${precos}">
                    <tr>
                        <td th:text="${preco.produto.nome + ' - ' + preco.produto.marca}"></td>

                        <td th:text="'R$ ' + ${preco.preco}"></td>
                        <td th:text="${preco.precoAtual > 0
                            ? preco.precoAtualFormatado + ' (R$ ' + preco.diferencaFormatada + ')'
                            : '---'}">
                        </td>
                        <td th:text="${preco.motivoAlteracao != null && preco.motivoAlteracao != '' ? preco.motivoAlteracao : '---'}"></td>
                        <td class="data-inicio" th:text="${preco.dataInicioVigor}"></td>
                        <td class="data-fim" th:text="${preco.dataFimVigor != null && preco.dataFimVigor != '' ? preco.dataFimVigor : '---'}"></td>
                        <td class="data-alteracao" th:text="${preco.dataAlteracao != null && preco.dataAlteracao != '' ? preco.dataAlteracao : '---'}"></td>
                        <td>
                            <button class="btn btn-warning btn-sm" id="edicaoEstoque"
                                    th:data-id="${preco.id}"
                                    th:data-produto-id="${preco.produto.id}"
                                    onclick="modalEditarPreco(this)">Editar</button>
                            <button class="btn btn-danger btn-sm" id="exclusaoEstoque"
                                    th:data-id="${preco.id}" onclick="confirmacaoExcluirPreco(this)">Excluir</button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="/preco/modal_editar_preco"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.all.min.js"></script>
<script src="/assets/js/preco.js"></script>
<script>
    function formatarDataISOParaBR(dataISO) {
        if (!dataISO || dataISO === '---') return '---';
        const partes = dataISO.split('-');
        return `${partes[2]}/${partes[1]}/${partes[0]}`;
    }

    document.querySelectorAll('.data-inicio, .data-fim, .data-alteracao').forEach(td => {
        const dataOriginal = td.textContent.trim();
        td.textContent = formatarDataISOParaBR(dataOriginal);
    });
</script>
</body>
</html>
